/*Jason Bentley AVF Project3 Term 0113*/

em {
    color: #956bd6;
    font-size: .6em;
}

#twit-data-output {
    background: #fff;
    color: #000  ;
    list-style: none;
    font-size: 1.1em;
    width: 90%;
    font: sans-serif;
    margin-left: auto ;
    margin-right: auto ;
    text-align: left;
}

#flik-data-output {
    float:left;
    /*list-style: inline;*/
}

li#data-msg {
    font-size: 2em;
    background: #000;
    color: #fff;
    margin-left: auto ;
    margin-right: auto ;
}


#connectionMain {
    background: #fff;
    font-size: 3em;
    width: 80% ;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 30%;
    text-align: center;
}

#check {
    text-align: center;
}


#connection {
    background: #000;
}

#cmain {
    background: #000;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    color: #fff;
    text-align: center;
    font-size: 4em;
}

#compass {
    background:#87adfc;
    text-align: center;

}

#devCheck {
    color: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#deviceMain {
    background: #87adfc;
    color: #fff;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#devicePage {
    background: #31312e;
}